[submodule "auto-compile"]
	path = .emacs.d/lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = .emacs.d/lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = .emacs.d/lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "dash"]
	path = .emacs.d/lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = .emacs.d/lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "emacsql"]
	path = .emacs.d/lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = .emacs.d/lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "ghub"]
	path = .emacs.d/lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = .emacs.d/lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "graphql"]
	path = .emacs.d/lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "libgit"]
	path = .emacs.d/lib/libgit
	url = git@github.com:magit/libegit2.git
	build-step = make
[submodule "magit"]
	path = .emacs.d/lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "packed"]
	path = .emacs.d/lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "transient"]
	path = .emacs.d/lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
[submodule "treepy"]
	path = .emacs.d/lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "use-package"]
	path = .emacs.d/lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "with-editor"]
	path = .emacs.d/lib/with-editor
	url = git@github.com:magit/with-editor.git
