.emacs.d/elpa
.emacs.d/straight
.emacs.d/backups
.emacs.d/autosaves
src/*
tmp/*
var/*
!.keep
.yadm
.wine
.cache
.cargo
.vscode
.thunderbird
.npm
.m2
.x2go
.thumbnails
.texlive
.local
.config/chromium
.config/discord
.config/**/*Cache*
.config/**/*logs*
